ntgcalls==1.0.0
tgcrypto
ffmpeg-python
py-tgcalls==1.2.9
pyrogram==1.4.12
youtube_dl
yt-dlp
python-dotenv
dnspython
gitpython
aiofiles
aiohttp==3.9.5
aiogram==2.25.2
requests
pillow
heroku3
motor
psutil
future
wget
pyyaml==6.0.1
python-arq
bs4