ntgcalls==1.0.0
tgcrypto
ffmpeg-python
py-tgcalls
pyrogram==1.4.12
youtube_dl
git+https://github.com/yt-dlp/yt-dlp@master
git+https://github.com/joetats/youtube_search@master
git+https://github.com/alexmercerind/youtube-search-python@main
python-dotenv
dnspython
gitpython
aiofiles
aiohttp>=3.9.0,<3.10.0
aiogram<3.0
requests
pillow
heroku3
motor
psutil
future
wget
pyyaml==6.0.1
python-arq
bs4
